
/* HIDE THINS I DONT WANT*/

/* hide url search dropdown */
.urlbarView{
  display: none !important;
}

/* hide back/forward buttons */
#forward-button, #back-button{
  visibility: collapse;
}

/* hide urlbar identity box */
#identity-icon-box{
  display: none;
}

/*hide tab icons*/
.tab-icon-stack{
  filter: grayscale(1) !important;
  margin-right:7px;
}

/* hide close button on inactive tab */
.tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button{
  display: none;
}
.tabbrowser-tab[selected=true] > .tab-stack > .tab-content > .tab-close-button{
  display: unset;
}

/* hidepage action buttons */
#page-action-buttons{
  display:none;
}

#tracking-protection-icon-container{
  visibility: collapse;
}

#urlbar-go-button{
  display:none !important;
}

/******************************/

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: none;
	font-kerning: normal;
  outline: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/* main color */
#main-window {
  background: #151515 !important;;
}

/* flip the url and tab bars */
#navigator-toolbox{
  display: flex !important;
  flex-direction: column-reverse !important;
}

/* get rid of some default colors */
#navigator-toolbox, #navigator-toolbox-background{
  background: transparent !important;
}
.browser-toolbar{
  background: transparent !important;
}
#navigator-toolbox{
  #border-bottom: none !important;
}
#urlbar-background, #searchbar{
  background: transparent !important;
  border: none !important;
}

/* tab padding */
#tabbrowser-tabs {
  padding: 2px 3px !important;
}

.tabbrowser-tab {
  padding: 2px 2px !important;
}

/* tab backgrounds */
.tab-background{
  margin: 0 !important;
  border: none !important;
  background: #ffffff10;
}
.tab-background[selected="true"]{
  background: #ffffff25 !important;
}

/* tab context line */
.tab-stack > .tab-background > .tab-context-line{
  height:40px !important;
  margin:0 !important;
  border-radius: 0px !important;
  opacity: 0.3;
  transition: all 0s !important;
}
.tab-stack > .tab-background[selected="true"] > .tab-context-line{
  height: 40px !important;
  opacity: 0.6;
}

#navigator-toolbox {
  border-bottom: none !important;
}

#nav-bar {
  margin-top: 4px !important;
}

/* Hide solo tab */
#tabbrowser-tabs, #tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
  min-height: 0 !important;
}
#tabbrowser-tabs tab[first-visible-tab=true][last-visible-tab=true] {
  visibility: collapse; 
}
/* Hide New Tab Button immediately next to solo tab */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] + toolbarbutton {
  visibility: collapse;
}


/* make addon buttons greyscale for better theming */
.toolbarbutton-icon{
  filter: grayscale(1);
}
