/* Sets up minimal scrollbar */
:root {
	scrollbar-width: thin !important;
	scrollbar-color: rgb(161, 161, 161) transparent !important;
}

/*  Sets up minimal incognito scrollbar */
@-moz-document url(about:privatebrowsing) {
	:root{
		scrollbar-width: thin !important;
		scrollbar-color: rgb(161, 161, 161) transparent !important;
	}
}
