/* Sets up minimal scrollbar */
:root {
	scrollbar-width: thin !important;
	scrollbar-color: rgb(161, 161, 161) transparent !important;
}

/*  Sets up minimal incognito scrollbar */
@-moz-document url(about:privatebrowsing) {
	:root{
		scrollbar-width: thin !important;
		scrollbar-color: rgb(161, 161, 161) transparent !important;
	}
}

@-moz-document domain(www.youtube.com) {
	ytd-mini-guide-renderer.ytd-app {
		background: transparent !important;
	}
	ytd-mini-guide-entry-renderer {
		background: transparent !important;
	}
	#header.ytd-rich-grid-renderer { 
		display: none !important;
	}
	ytd-app {
		background: #151515 !important;
	}
	#masthead{
		background: #151515 !important;
	}
	yt-related-chip-cloud-renderer{
		display: none !important;
	}
	#guide-content.ytd-app{
		background: #151515 !important;
	}
	#voice-search-button{
		display: none !important;
	}
	#buttons.ytd-masthead{
		display: none !important;
	}
}
